a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: gray;
}
#special-link {
    color: white;
}
#special-link:hover {
    color:gray;
}
body {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo {

    position: absolute;
    font-size: 50px;
    left: 20px;
    top: 20px;
}

.headline {

    position: absolute;
    font-size: 40px;
    left: 100px;
    top: 150px;
}
.sub-headline {

    position: absolute;
    font-size: 30px;
    left: 100px;
    top: 320px;
}

.nav {
    width: 200px;
    position: absolute;
    right: 30px;
    margin: 30px;

    display: flex;
    justify-content: space-between;
}

.nav-button {
   
   padding: 10px;
   border-radius: 10px;
}

.special-button {
   color: white; 
   background-color: black;
}

.portfolio {
    position: absolute;
    top: 500px;
    left: 150px;
    display: flex;
}

.proj-col {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.proj-pic {
    text-align: center;
}
.proj-desc {
    color: #4f4f4f;
}

.proj-box {

    background-color: #d1d1d1;
    width: 250px;
    margin-top: 3px;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.heading {

    font-size: 45px;
}

.about {
    position: absolute;
    top: 850px;
    left: 100px;
}
.about-desc {
    font-size: 20px;
    width: 1000px;
}
.about-small {
    font-size: 10px;
    color: gray;
}

.contact {
    position: absolute;
    top: 1100px;
    left: 100px;
}
.contact-desc {
    margin: 30px;
    font-size: 15px;
}